@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Mono", monospace;
}

body {
  @apply bg-red-500 text-gray-800/75 subpixel-antialiased;
}

body.dark {
  @apply bg-gray-800 text-white/75 subpixel-antialiased;
}

.button {
  @apply bg-red-500
   text-gray-800/75
   hover:text-white/75
   dark:bg-gray-800/75
   dark:text-white/75
   dark:hover:text-white/35;
}

.shaka-play-button {
  background-color: rgba(239, 68, 68, 0.7) !important;
}
